    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{{static}}img/about-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">That's not me in the picture, it's someone else.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <h2>Hi there!</h2>

        <p>This blog is my not-so-serious web presence.</p>

        <p>I'm a computer programmer. My Dad introduced me to computer programming in 1981 and I've been hooked ever since.</p>

        <h2>Clojure</h2>
          <p>
          My current programming language of choice is <a href="http://clojure.org">Clojure</a>. I'm lucky, because Clojure also happens to be the best and most fun programming language in the world right now.</p>

        <p>Together with <a href="http://www.pitheringabout.com/">John Pither</a>, I set up <a href="https://juxt.pro">JUXT</a>. We liked Clojure so much, we created our own company. JUXT are available to hire for your next project (as long as don't mind us writing it in Clojure!)</p>

        <p>I'm also proud to be a founding developer of the super-cool
        <a href="https://opensensors.io">opensensors.io</a>, which is
        also sort-of my day job. Fortunately, they love Clojure too!</p>

        <h2>Like this blog?</h2>

        <p>Follow <a href="http://modularity.org/templates/clean-blog.html">these
        docs</a> to generate a Clojure project that you can use to run
        or generate your own blog-site</p>

        </div>
    </div>
