    <!-- Page Header -->
    <!-- Set your background image for this header on the line below. -->
    <header class="intro-header" style="background-image: url('{{static}}img/about-bg.jpg')">
        <div class="container">
            <div class="row">
                <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">
                    <div class="page-heading">
                        <h1>About Me</h1>
                        <hr class="small">
                        <span class="subheading">That's not me in the picture, it's someone else.</span>
                    </div>
                </div>
            </div>
        </div>
    </header>

    <!-- Main Content -->
    <div class="container">
      <div class="row">
        <h2>Hi there!</h2>

        <p>First an important disclamer.<p>

        <h2>Disclaimer</h2>

        <p>Sometimes you need to let off steam somewhere. This is the place I do that, so please don't take anything here too seriously.</p>

        <h2>Background</h2>

        <p>I'm a computer programmer. My Dad introduced me to computer
          programming in 1981 and I've been hooked ever since.</p>

        <p>Up to 1996, I worked as a systems administrator, DBA and
        Oracle developer. Then Java happened, at a time I was itching to
        get back into 'proper' programming. </p>

        <p>I was very active in its early pre-enterprise period,
        co-wrote some EJB and application servers, jcoverage (Coburtura)
        and other stuff. We sold the EJBHome stuff to IONA and I worked
        there as an enginner for a few years. After leaving IONA I got
        into agile consulting but found I wasn't really that happy if
        there was a Java programming aspect in my engagements.</p>

        <p>Around 2009 I was dabbling in more dynamic languages on the
        JVM, such as Kawa and eventually discovered Clojure, which has
        been my programming language of choice ever since. I feel very
        lucky, because Clojure also happens to be the best and most fun
        programming language in the world right now.</p></p>

        <p>Together with <a href="http://www.pitheringabout.com/">John
        Pither</a>, I set up <a href="https://juxt.pro">JUXT</a>. We
        loved writing Clojure so much, we created our own company. JUXT are
        available to hire for your next project (as long as don't mind
        us writing it in Clojure!)</p>

        <p>I'm also a founder of the super-cool IoT startup
        <a href="https://opensensors.io">opensensors.io</a>, which has
        become my primary engineering focus. Fortunately, they love
        Clojure too!</p>

        <h2>Like this blog?</h2>

        <p>This blog is powered by my own Clojure system. If you want to
        copy it, you are more than welcome to do
        so. Follow <a href="http://modularity.org/templates/clean-blog.html">these
        docs</a> to generate your own blog-site, which you can then
        develop as you like.</p>

        </div>
    </div>
